* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

.container {
   width: 1518px;
   margin: 0 auto;
}

body {
   background: linear-gradient(180deg, #FFFFFF 0%, #F6F5FF 100%);
}

header {
   margin: 0 auto;
   width: 1518px;
   height: 120px;
   background-color: #008F76;
}

nav {
   align-items: center;
   padding-left: 100px;
   padding-right: 130px;
   display: flex;
   justify-content: space-between;
}

.rasm {
   margin-top: 30px;
}

.ul {
   padding-top: 44px;
   display: flex;
   width: 60%;
   justify-content: space-between;
   list-style: none;
}

a {
   text-decoration: none;
   color: white;
   font-size: 16px;
}

.baca {
   text-align: center;
   margin-top: 98px;
}

.pojok {
   color: #008F76;
}

.go {
   color: black;
   font-style: italic;
}

.pinj {
   margin-top: 30px;
   font-size: 50px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-weight: 400;
}

.pinj span {
   color: #008F76;
}

.cari {
   width: 209px;
   height: 52px;
   margin: 50px 50px 0 20px;
   background-color: #008F76;
   border-radius: 20px;
   color: white;
   border: none;
}

.cari:active {
   box-shadow: 0px 0px 20px 2px rgb(38, 59, 30);
}

.dona {
   width: 209px;
   height: 52px;
   margin: 50px 50px 0 20px;
   background-color: #ffffff;
   border-radius: 20px;
   color: #008F76;
   border: 1px solid #008F76;
}

.dona:active {
   box-shadow: 0px 0px 20px 2px rgb(38, 59, 30);
}

.box {
   display: flex;
   margin-left: 236px;
}

.one,
.five {
   padding-top: 19px;
}

.two,
.four {
   padding-top: 119px;
}

.tri {
   padding-top: 108px;
}

.kita {
   font-size: 24px;
   text-align: center;
}

.kita span {
   color: #008F76;
}

.row {
   display: flex;
   gap: 39px;
   margin-left: 150px;
   margin-top: 78px;
}

.card {
   width: 596px;
   height: 238px;
   border-radius: 5px;
   padding: 30px;
   background-color: white;
   box-shadow: 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
}

.card p {
   width: 446px;
   font-size: 16px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   line-height: 32px;
}

.card span {
   font-weight: bold;
   font-size: 18px;
}

.card img {
   margin: 32px 0 0 46px;
}

.col {
   margin-top: 100px;
   padding: 100px 187px;
   display: flex;
   gap: 210px;
}

.col1 {
   display: flex;
   width: 183px;
}

.col1 h1 {
   font-size: 32px;
   margin-left: 16px;
   font-weight: 400;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   margin-bottom: 17px;
}

.col1 span {
   font-size: 16px;
   color: #949494;
   margin-left: 16px;
}

.col2 {
   display: flex;
   width: 250px;
}

.col2 h1 {
   font-size: 32px;
   font-weight: 400;
   text-align: center;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   margin-bottom: 17px;
}

.col2 span {
   font-size: 16px;
   color: #949494;
   margin-left: 16px;
}

.col3 {
   display: flex;
   width: 213px;
}

.col3 h1 {
   font-size: 32px;
   font-weight: 400;
   text-align: center;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   margin-bottom: 17px;
}

.col3 span {
   font-size: 16px;
   color: #949494;
   margin-left: 16px;
}

.war {
   margin-top: 100px;
   margin-left: 130px;
}

.war h1 {
   font-size: 24px;
   font-weight: 600;
}

.war p {
   font-size: 16px;
   margin-top: 15px;
   color: #949494;
   font-weight: 400;
}

.app {
   margin-top: 25px;
   margin-left: 130px;
   display: flex;
}

.kata {
   border: 1px solid #d2d2d2;
   padding: 30px;
   width: 596px;
   height: 280px;
   border-radius: 5px;
   background-color: white;
   margin-right: 58px;
}

.kata p {
   font-size: 18px;
   line-height: 32px;
   width: 510px;
   font-weight: 500;
}

.kata img {
   margin-top: 45px;
}

.text {
   margin: 200px 140px 0 120px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.kami h1 {
   font-size: 24px;
   font-weight: 500;
}

.kami p {
   margin-top: 10px;
   color: #949494;
   font-size: 16px;
}

.smal {
   color: #949494;
   font-size: 18px;
}

.foto {
   margin: 34px 30px 0 130px;
}

.foto img {
   margin-right: 50px;
}

.list {
   text-align: center;
   margin-top: 193px;
}

.list h1 {
   font-size: 28px;
   font-weight: 500;
}

.list span {
   color: #008F76;
}

.list p {
   margin-top: 10px;
   color: #949494;
   font-size: 20px;
   font-weight: 400;
}

.list button {
   margin-top: 40px;
   margin-bottom: 20px;
}

.list small {
   color: #949494;
   margin-left: -20px;
}

footer {
   width: 1518px;
   height: 380px;
   background-color: white;
   padding: 100px 100px 0 100px;
}

.frem{
   padding-top: 48px;
}

.left span{
   position: absolute;
   margin-top: 20px;
   font-size: 18px;
   margin-left: 20px;
}

.top{
   display: flex;
}

.cent{
   margin-left: 396px;
   margin-top: 24px;
}

.cent h3{
   font-size: 18px;
   font-weight: 500;
}

.cent ul{
   margin-top: 16px;
   font-size: 16px;
   color: #949494;
   list-style: none;
}

.cent li{
   margin-bottom: 16px;
}

.rayt{
   margin-left: 150px;
   margin-top: 24px;
}

.rayt h3{
   font-size: 18px;
   font-weight: 500;
}

.rayt ul{
   margin-top: 16px;
   font-size: 16px;
   color: #949494;
   list-style: none;
}

.rayt li{
   margin-bottom: 16px;
}